# Virtual environment
venv/

# Config
.env

# Dataset
Engineer_20230826.csv

# Python bytecode
__pycache__/
*.pyc

# Model artifacts
data/recombined_descriptions.csv
data/model_classified_job_descriptions.csv
data/all_prepared_job_postings.csv